<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            .block1 {
                border:solid 1px black;
                margin-top:5px;
                padding:5px;
            }
            .block1 h3 {
                margin-top:0px;
            }
        </style>
    </head>
    <body>
        <div>SpringBoot CRUD application</div>
        <br/>
        <div class="block1">
            <h3>rest api</h3>
            <a href="client/list">json clients list</a> &nbsp;&nbsp;(<a href="clientHATEOAS/list">json hateoas clients list</a>)
            <br/>
            <a href="product/list">json products list</a>
            <br/>
            <a href="order/list">json orders list</a>
            <br/>
            <a href="order_position/list">list all orders positions</a>
        </div>
        <div class="block1">
            <h3>html application</h3>
            <a href="clienthtml/list">clients html list</a>
            <br/>
            <a href="producthtml/list">products html list</a>
            <br/>
            <a href="orderhtml/list">orders html list</a>
        </div>
    </body>
</html>
