<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div>products html list</div>
        <div><a href="../">back</a></div>
        <a href="edit">new order</a>
        <br/>
        <br/>
        <table class="table1">
            <tr>
                <th>order id</th>
                <th>order number</th>
                <th>client name</th>
                <th colspan='2'>&nbsp;</th>
            </tr>
            <th:block th:each="order:${orders}">
            <tr>
                <td th:text="${order.orderId}" />
                <td th:text="${order.orderNumber}" />
                <td th:text="${order.client.clientName}" />
                <td><a th:href="@{'edit/' + ${order.orderId}}">edytuj</a></td>
                <td><a th:href="@{'delete/'+${order.orderId}}">usuń</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">
                    <table class="table1" style="width:100%;">
                        <tr th:each="orderPosition, iterStat:${order.orderPosition}">
                            <td th:text="${iterStat.count}+' z '+${iterStat.size}"/>
                            <td th:text="${orderPosition.orderId}" />
                            <td th:text="${orderPosition.product.productName}">
                            <td><a th:href="@{'edit_position/'+${orderPosition.id}}">edytuj</a></td>
                            <td><a th:href="@{'delete_position/'+${orderPosition.id}}">usuń</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            </th:block>
        </table>
        
        <br/>
        
    </body>
</html>
